{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>
        vook_django_v1
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <!-- favicon -->
    <link rel="icon" sizes="16x16" href="{% static 'favicon.ico' %}" />
</head>

<body>
    <main>
        <header class="header">
            <div class="header__container l-main__inner">
                <div class="header__lists">
                    <div class="left">
                        <a href="#about" class="header">Vookとは</a>
                        <a href="#search" class="header">商品検索</a>
                        <a href="#article" class="header">記事</a>
                        <a href="#community" class="header">コミュニティ</a>
                    </div>
                    <div class="right">
                        <a href="#login" class="header"><span>ログイン</span></a>
                        <a href="#register" class="header"><span>新規登録</span></a>
                    </div>
                </div>
        </header>
        <section id="about" class="about">
            <h1>About</h1>
        </section>
        <section id="search" class="search">
            <h1>Search</h1>
        </section>
        <section id="article" class="article">
            <h1>Article</h1>
        </section>
        <section id="community" class="community">
            <h1>Community</h1>
        </section>
        <footer class="footer">
        </footer>
    </main>
</body>

</html>
