{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-THH5VV9');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>
        AIプログラミング講座
    </title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/common.css' %}" />
    <link rel="stylesheet" href="{% static 'css/top.css' %}" />
    <!-- favicon -->
    <link rel="icon" sizes="16x16" href="{% static 'favicon.ico' %}" />
    <!-- Global site tag (gtag.js) - Google Ads: 617404697 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-617404697"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'AW-617404697');
    </script>
    <!-- Event snippet for LINE無料相談 conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-617404697/rpwJCMbo_voCEJmys6YC',
                'event_callback': callback
            });
            return false;
        }
    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THH5VV9" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main class="l-container">
        <header class="header">
            <div class="header__container l-main__inner">
                <div class="header__lists">
                    <a href="#about" class="header__link">概要</a>
                    <a href="#feature" class="header__link">特徴</a>
                    <a href="#voice" class="header__link">受講者の声</a>
                    <a href="#price" class="header__link">受講費用・お申し込み</a>
                    <a href="#qa" class="header__link">Q&A</a>
                    <a href="#contact" class="header__link">お問い合わせ</a>
                    <a href="https://ai-programming.net/privacy/" class="header__link">プライバシーポリシー</a>
                    <a href="https://ai-programming.net/law/" class="header__link">特定商取引法に基づく表記</a>
                </div>
                <!-- ハンバーガーメニュー部分 -->
                <div class="c-drawer">
                    <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
                    <input type="checkbox" id="drawer-check" class="c-drawer__hidden" />
                    <!-- ハンバーガーアイコン -->
                    <label for="drawer-check" id="js-drawer" class="c-drawer__open"><span></span></label>
                    <!-- 追加：メニューを閉じるための要素 -->
                    <label for="drawer-check" id="js-drawer-close" class="c-drawer__close"></label>
                    <!-- メニュー -->
                    <nav id="js-drawer-menu" class="c-drawer__content">
                        <div class="c-drawer__lists">
                            <a href="#about" class="c-drawer__list">概要</a>
                            <a href="#feature" class="c-drawer__list">特徴</a>
                            <a href="#voice" class="c-drawer__list">受講者の声</a>
                            <a href="#price" class="c-drawer__list">受講費用・お申し込み</a>
                            <a href="#qa" class="c-drawer__list">Q&A</a>
                            <a href="#contact" class="c-drawer__list">お問い合わせ</a>
                            <a href="https://ai-programming.net/privacy/" class="c-drawer__list">プライバシーポリシー</a>
                            <a href="https://ai-programming.net/law/" class="c-drawer__list">特定商取引法に基づく表記</a>
                        </div>
                    </nav>
                </div>
                <!-- ハンバーガーメニューここまで -->
            </div>
            <!-- /.header__container -->
        </header>
        <!-- /.header -->
        <section id="mv" class="mv">
            <div class="l-main__inner mv__inner">
                <div class="mv__container">
                    <div class="mv__text-area">
                        <h1 class="mv__heading-img">
                            <picture>
                                <source srcset="{% static 'image/mv-text-sp.svg' %}" media="(max-width: 767px)" />
                                <source srcset="{% static 'image/mv-text.svg' %}" media="(max-width: 1023px)" />
                                <img src="{% static 'image/mv-text.svg' %}" alt="完全オンラインでプログラミング習得 AIプログラミング講座">
                            </picture>
                        </h1>
                        <p class="mv__text">
                            完全初心者がオンラインで<br class="u-sp">AI/データサイエンスを学べる！<br>
                            楽しみながら学ぶから挫折しない<br class="u-sp">オンラインマンツーマンレッスン！
                        </p>
                        <a href="https://line.me/R/ti/p/@933enbda" class="c-btn mv__btn">LINE無料相談はこちら</a>
                    </div>
                    <div class="mv__img-box">
                        <picture>
                            <source srcset="{% static 'image/mv-img-sp.png' %}" media="(max-width: 767px)" />
                            <source srcset="{% static 'image/mv-img.png' %}" media="(max-width: 1023px)" />
                            <img src="{% static 'image/mv-img.png' %}" alt="ファーストビューイラスト">
                        </picture>
                    </div>
                </div>
                <!-- /.mv__container -->
            </div>
            <!-- /.l-main__inner -->
        </section>
        <!-- /.mv -->
        <section id="about" class="about">
            <div class="l-main__inner about__inner">
                <div class="about__container">
                    <span class="about__en">About</span>
                    <h2 class="about__heading">AIプログラミング講座とは？</h2>
                    <div class="about__flex-box">
                        <div class="about__img-box">
                            <img src="{% static 'image/about-img_exclude_kaggle.png' %}" alt="Aboutイラスト">
                        </div>
                        <div class="about__text-area">
                            <p class="about__text">
                                完全初心者の方にとって、プログラミング学習は楽しめるものでなければなりません。楽しむために弊社の<br class="u-pc">AIプログラミング講座では<br
                                    class="u-sp">AI・データサイエンスコンペティションで使用されるようなデータセットを使用し、学習していきます。
                            </p>
                            <p class="about__text">
                                沈没船の生存者分析や、マーケットプレイス出品データを使用した販売価格予測分析など、様々なAI・データサイエンスの課題に取り組むことができます。弊社では、この課題を通じて、プログラミング言語のPython、統計学に基づいたビッグデータ分析手法、<br
                                    class="u-pc">機械学習に基づいたAIアルゴリズム構築方法を受講生の皆様へわかりやすくお伝えしていきます。
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /.about__container -->
                <ul class="about__cards">
                    <li class="about__card">
                        <h3 class="about__card-title">挫折率</h3>
                        <div class="about__number-img about__number-img--01">
                            <img src="{% static './image/about-text_1.svg' %}" alt="0%">
                        </div>
                        <div class="about__card-lead">楽しみながら学べるから<br>挫折しない</div>
                        <p class="about__card-text">
                            本講座を受けた後には、<br>
                            AI・データサイエンスコンペティションに<br>
                            参加し、世界中のAIエンジニア・<br>
                            データサイエンティストと切磋琢磨<br>
                            しながら学習が進められます。
                        </p>
                    </li>
                    <li class="about__card">
                        <h3 class="about__card-title">未経験者率</h3>
                        <div class="about__number-img about__number-img--02">
                            <img src="{% static 'image/about-text_2.svg' %}" alt="100%">
                        </div>
                        <div class="about__card-lead">未経験でも大丈夫</div>
                        <p class="about__card-text">
                            未経験者でもAI・データサイエンスを<br>
                            効率的に学ぶことのできる<br class="u-sp">カリキュラムを準備しております。

                        </p>
                    </li>
                </ul>
                <!-- /.about__cards -->
            </div>
            <!-- /.l-main__inner -->
        </section>
        <!-- /.about -->
        <section id="feature" class="feature">
            <div class="feature__top-bg"></div>
            <div class="l-main__inner feature__inner">
                <span class="feature__object--01">
                    <img src="{% static './image/feature-object_1.png' %}" alt="オブジェクト">
                </span>
                <span class="feature__object--02">
                    <img src="{% static './image/feature-object_2.png' %}" alt="オブジェクト">
                </span>
                <div class="c-heading">
                    <h2 class="c-heading__primary feature__heading">コースの特徴</h2>
                </div>
                <div class="feature__flex-box--head">
                    <div class="feature__text-area">
                        <h3 class="feature__title">アプリ構築を通じて<br>
                            AI・データサイエンスを学べる</h3>
                        <p class="feature__text">
                            AI・データサイエンス・機械学習の技術を使用した、<br class="u-pc">
                            アプリケーション構築をサポートします。<br class="u-pc">
                            本講座を受けた後には、AIアプリケーションを構築した経験が得られるでしょう。<br class="u-sp">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        </p>
                        <!-- <p class="feature__text">
                            Google傘下のKaggle社はAI・データサイエンスのコンペティションを開催しており、<br class="u-pc">
                            世界中のエンジニアやデータサイエンティストがコンペを通じて最新の技術を学習しております。<br class="u-pc">
                            「タイタニックの乗船者のうち誰が生き残る?」「ある店舗の来月の商品ごとの売上はどれくらい?」<br class="u-sp">
                            などの課題に対して、AI・データサイエンスのアルゴリズムを構築し、世界中のコンペ参加者と<br class="u-pc">
                            順位を競っているのです。本講座を受けた後には、これらのコンペに参加できるようになるでしょう。<br class="u-pc">
                        </p> -->
                    </div>
                    <div class="feature__img-box">
                        <picture>
                            <source srcset="{% static 'image/feature-img-sp_1.png' %}" media="(max-width: 767px)" />
                            <source srcset="{% static 'image/feature-img_1_exclude_kaggle.png' %}"
                                media="(max-width: 1023px)" />
                            <img src="{% static 'image/feature-img_1_exclude_kaggle.png' %}" alt="特徴イメージ">
                        </picture>
                    </div>
                </div>
                <!-- /.feature__flex-box--head -->
                <div class="feature__flex-box--bottom">
                    <div class="feature__img-box">
                        <picture>
                            <source srcset="{% static 'image/feature-img-sp_2.png' %}" media="(max-width: 767px)" />
                            <source srcset="{% static 'image/feature-img_2.png' %}" media="(max-width: 1023px)" />
                            <img src="{% static 'image/feature-img_2.png' %}" alt="特徴イメージ">
                        </picture>
                    </div>
                    <div class="feature__text-area">
                        <span class="feature__object--04">
                            <img src="{% static 'image/feature-object_4.png' %}" alt="オブジェクト">
                        </span>
                        <h3 class="feature__title">全額返金保証</h3>
                        <p class="feature__text">カリキュラムにご納得頂けなければ、全額返金致します。<br><br class="u-tb_pc">
                        </p>
                    </div>
                </div>
                <!-- /.feature__flex-box--bottom -->
            </div>
            <!-- /.l-main__inner -->
        </section>
        <!-- /.feature -->
        <section id="voice" class="voice">
            <div class="l-main__inner">
                <div class="c-heading">
                    <h2 class="c-heading__primary voice__heading">受講者の声</h2>
                </div>
                <div class="voice__container">
                    <div class="voice__wrapper">
                        <div class="voice__img-box">
                            <img src="{% static 'image/voice-icon_1.svg' %}" alt="受講者の声アイコン">
                        </div>
                        <div class="voice__text-img-box">
                            <img src="{% static 'image/voice-text.svg' %}" alt="ダブルクォーテーション">
                        </div>
                        <p class="voice__text">すごく分かりやすい教え方で、<br class="u-sp">特に初めの方でPythonを<br
                                class="u-sp">習い始めた時の説明が<br class="u-sp">すごく分かりやすかったです！</p>
                    </div>
                    <!-- /.voice__wrapper -->
                    <div class="voice__wrapper">
                        <div class="voice__img-box">
                            <img src="{% static 'image/voice-icon_2.svg' %}" alt="受講者の声アイコン">
                        </div>
                        <div class="voice__text-img-box">
                            <img src="{% static 'image/voice-text.svg' %}" alt="ダブルクォーテーション">
                        </div>
                        <p class="voice__text">常に前向きで<br class="u-sp">優しく指導頂けました。</p>
                    </div>
                    <!-- /.voice__wrapper -->
                    <div class="voice__wrapper">
                        <div class="voice__img-box">
                            <img src="{% static 'image/voice-icon_3.svg' %}" alt="受講者の声アイコン">
                        </div>
                        <div class="voice__text-img-box">
                            <img src="{% static 'image/voice-text.svg' %}" alt="ダブルクォーテーション">
                        </div>
                        <p class="voice__text">「分かりにくい質問を<br class="u-sp">聞いてもしっかり質問を<br class="u-sp">聞き返して<br
                                class="u-sp">理解してくれようとしてくれました!」
                        </p>
                    </div>
                    <!-- /.voice__wrapper -->
                </div>
                <!-- /.voice__container -->
            </div>
            <!-- /.l-main__inner -->
        </section>
        <!-- /.voice -->
        <section id="price" class="price">
            <!-- <div class="l-main__inner price__inner">
                <span class="price__object">
                </span>
                <div class="c-heading">
                    <h2 class="c-heading__primary price__heading">無料体験レッスン</h2>
                </div>
                <div class="price__container">
                    <div class="price__head-text"><span class="price__color">週1回1.5時間のZoomレッスンを</span></div>
                    <div class="price__foot-text">
                        <div class="price__price-box"><span class="price__big">4回分無料</span></div>
                        <div class="price__text">で*1</div>
                    </div>
                </div>
                <div class="price__note">
                    *1 Python基礎~Kaggleでのスコア提出までのレッスンを無料で受講することができます。
                    Kaggleでのスコア提出は、チュートリアルコンペティションであるタイタニックの生存者予測コンペにて行います。
                    このスコア提出によって最低限のPythonの文法とデータサイエンス・AIの知見に触れることができます。
                    無料体験レッスンは4回を見込んでおりますが、4回でスコアを提出できなければ、追加の無料体験レッスンを提供致します。
                    有料プランは無料体験レッスン終了時に検討頂く形になります。
                </div>
                <a href="https://line.me/R/ti/p/@933enbda" class="c-btn price__btn">LINE無料相談はこちら</a>
            </div> -->
            <!-- /.l-main__inner -->

            <div class="l-main__inner price__inner">
                <span class="price__object">
                </span>
                <div class="c-heading">
                    <h2 class="c-heading__primary price__heading">受講費用・お申し込み（通常版）</h2>
                </div>
                <div class="price__container">
                    <div class="price__head-text">3ヶ月の<span class="price__color">マンツーマンレッスン</span>で</div>
                    <div class="price__foot-text">
                        <div class="price__price-box">月々<span class="price__big">8,000円</span></div>
                        <div class="price__text">から。*1</div>
                    </div>
                </div>
                <div class="price__note">*1 3ヶ月のマンツーマンレッスンは税込165,000円。<br>
                    上記は24回分割払いをした際の参考価格です。アプリ構築カリキュラムが含まれます。</div>
                <a href="https://line.me/R/ti/p/@933enbda" class="c-btn price__btn">LINE無料相談はこちら</a>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="l-main__inner price__inner">
                <span class="price__object">
                </span>
                <div class="c-heading">
                    <h2 class="c-heading__primary price__heading">受講費用・お申し込み（ライト版）</h2>
                </div>
                <div class="price__container">
                    <div class="price__head-text">1時間の<span class="price__color">マンツーマンレッスン</span>で</div>
                    <div class="price__foot-text">
                        <div class="price__price-box">1回<span class="price__big">1,000円</span></div>
                        <div class="price__text">*2</div>
                    </div>
                </div>
                <div class="price__note">*2 カリキュラムを用意しない1回限りのスポットレッスンです。アプリ構築カリキュラムが含まれません。</div>
                <a href="https://line.me/R/ti/p/@933enbda" class="c-btn price__btn">LINE無料相談はこちら</a>
            </div>
            <!-- /.l-main__inner -->
        </section>
        </section>
        <!-- /.price -->
        <section id="qa" class="qa">
            <div class="qa__top-bg"></div>
            <span class="qa__object"></span>
            <div class="l-main__inner">
                <div class="c-heading">
                    <h2 class="c-heading__primary qa__heading">Q&A</h2>
                </div>
                <div class="qa__container">
                    <dl class="qa__dl">
                        <dt class="qa__dt">
                            <span class="qa__question">Q</span>
                            どんな方が受講していますか？
                        </dt>
                        <dd class="qa__dd">
                            主に20代でAI・データサイエンススキルの習得、就職・転職・フリーランス案件獲得を目指している方が受講されています。学生、医者など様々なバックグラウンドの方に受講頂いております。
                        </dd>
                    </dl>
                    <dl class="qa__dl">
                        <dt class="qa__dt">
                            <span class="qa__question">Q</span>
                            全くの未経験でも受講できますか？
                        </dt>
                        <dd class="qa__dd">
                            はい、全く問題ございません。受講生様の100%がプログラミング未経験の方です。未経験者の学習にに特化したカリキュラム・サポートを用意しております。
                        </dd>
                    </dl>
                    <dl class="qa__dl">
                        <dt class="qa__dt">
                            <span class="qa__question">Q</span>
                            他スクールとの違いはなんですか？
                        </dt>
                        <dd class="qa__dd">
                            コンペデータを使用した学習方式です。講義や教科書を使用した従来の教育とは異なり、
                            ”大会”で使用されるようなデータを扱うことで、AI・データサイエンスの力を身に付けて頂きます。
                            コンペでは自身の成績が可視化されるため、勉強した分だけ成果に現れます。
                        </dd>
                    </dl>
                </div>
                <!-- /.qa__container -->
            </div>
            <!-- /.l-main__inner -->
        </section>
        <!-- /.qa -->
        <p style="height: 20px;"></p>
        <section id="comparison_table" class="comparison_table">
            <div class="l-main__inner">
                <div class="c-heading"
                    style="background-color: #FDFCF5; padding: 10%; border-radius: 10px;  border:1px solid #333">
                    <h3 class="c-heading__primary qa__heading">比較表</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">比較基準</th>
                                <th scope="col">当社</th>
                                <th scope="col">A社</th>
                                <th scope="col">B社</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 12px;">
                            <tr>
                                <th scope="row" style="text-align: left;">講師・メンター</th>
                                <td><b>現役データサイエンティスト</b></td>
                                <td>大学生や卒業生が中心</td>
                                <td>エンジニアではない専任講師</td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: left;">講師・メンターの選抜基準(企業)</th>
                                <td><b>上場企業所属</b></td>
                                <td>非公開</td>
                                <td>非公開</td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: left;">講師・メンターの選抜基準(学歴)</th>
                                <td><b>早慶以上の修士号取得者</b></td>
                                <td>非公開</td>
                                <td>非公開</td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: left;">受講形態</th>
                                <td><b>オンライン</b></td>
                                <td>教室とオンライン</td>
                                <td>教室とオンライン</td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: left;">料金</th>
                                <td style="color: crimson;"><b>165,000円</b></td>
                                <td>712,800円〜</td>
                                <td>391,902円〜</td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: left;">アプリ開発サポート</th>
                                <td><b>対応</b></td>
                                <td>対応なしコースあり</td>
                                <td>対応なしコースあり</td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: left;">クラウド利用支援</th>
                                <td><b>対応</b></td>
                                <td>対応なしコースあり</td>
                                <td>対応なしコースあり</td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: left;">マンツーマンレッスン</th>
                                <td><b>◯</b></td>
                                <td>×</td>
                                <td>×</td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: left;">転職支援</th>
                                <td><b>◯</b></td>
                                <td>×</td>
                                <td>×</td>
                            </tr>
                            <tr>
                                <th scope="row" style="text-align: left;">資格取得支援</th>
                                <td><b>◯</b></td>
                                <td>×</td>
                                <td>×</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.qa__container -->
            </div>
            <!-- /.l-main__inner -->
        </section>
        <!-- /.comparison_table NOTE: This section is copied from qa section-->
        <p style="height: 20px;"></p>
        <section id="lowreason" class="lowreason">
            <div class="l-main__inner">
                <div class="c-heading"
                    style="background-color: #FDFCF5; padding: 10%; border-radius: 10px; border:1px solid #333">
                    <h3 class="c-heading__primary qa__heading">安さの理由</h3>
                    <div class="price__lowreason">
                        <ul style="text-align: left; font-size: 2.5rem;">
                            <li><b>1. サービス立ち上げキャンペーン中<sub style="font-size: 1rem;">*1</sub></b><br><br></li>
                            <li><b>2. 週あたりレッスンが1回のみ<sub style="font-size: 1rem;">*2</sub></b><br><br></li>
                            <li><b>3. 報酬が低くとも初学者に教えたい現役データサイエンティスト<sub style="font-size: 1rem;">*3</sub></b><br><br>
                            </li>
                            <p style="font-size: 1rem;">*1 募集状況によってキャンペーンは早期に終了する可能性があります。</p>
                            <p style="font-size: 1rem;">*2 チャットによる質疑応答は05:00~20:00で毎日対応</p>
                            <p style="font-size: 1rem;">
                                *3 当社で雇用している現役データサイエンティストは自らの知識を向上させるべく当社に所属しております。<br>
                                知識を向上させるための最良の方法は初学者に知識を教えることです。<br>
                                当社の受講生は初学者に限定しているため、彼らは低報酬でも当社へ講師の応募をしてきてくれています。<br>
                                結果として、受講生の方々への料金を低く抑えることができています。<br>
                            </p>
                        </ul>
                    </div>
                </div>
                <!-- /.qa__container -->
            </div>
            <!-- /.l-main__inner -->
        </section>
        <!-- /.lowreason NOTE: This section is copied from qa section-->
        <p style="height: 20px;"></p>
        <footer id="contact" class="footer">
            <div class="l-main__inner">
                <div class="footer__lead">
                    お悩みの方はまずは<br>
                    <span class="footer__border">無料カウンセリング</span>へお越しください。
                </div>
                <a href="https://line.me/R/ti/p/@933enbda" class="c-btn">LINE無料相談はこちら</a>
                <div class="footer__note">
                    ※希望があれば、個人のポートフォリオ構築サポートも請け負います。<br>
                    ※希望があれば、資格取得（「統計検定2級」, 「Pythonエンジニア認定試験」）サポートも請け負います。<br>
                    ※通信環境やPC端末は必須です。もし、ご不安がある方はご相談ください。<br>
                </div>
            </div>
            <!-- /.l-main__inner -->
        </footer>
        <!-- /.footer -->
    </main>
    <!-- /.l-container -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static './js/common.js' %}"></script>

</html>
