@charset 'UTF-8';
/* ==========================================================================
   Foundation
   ========================================================================== */
/* Reset
   ----------------------------------------------------------------- */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

body
{
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

ul,
ol
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

a
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    background: transparent;
}

/*! change colours to suit your needs */
ins
{
    text-decoration: none; 

    color: #000;
    background-color: #ff9;
}

/*! change colours to suit your needs */
mark
{
    font-weight: bold; 
    font-style: italic;

    color: #000;
    background-color: #ff9;
}

del
{
    text-decoration: line-through;
}

abbr[title],
dfn[title]
{
    cursor: help; 

    border-bottom: 1px dotted;
}

/* table
{
    border-spacing: 0; 
    border-collapse: collapse;
} */

/*! change border colour to suit your needs */
hr
{
    display: block;

    height: 1px;
    margin: 1em 0;
    padding: 0; 

    border: 0;
    border-top: 1px solid #ccc;
}

input,
select
{
    vertical-align: middle;
}

main
{
    display: block;
}

/* Base
   ----------------------------------------------------------------- */
html
{
    font-size: 62.5%;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
}

*,
*:before,
*:after
{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body
{
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    font-size: 1.6rem; 
    font-weight: 400;
    line-height: 1.5;

    letter-spacing: .03em;
    word-wrap: break-word;
    word-break: normal;

    color: #333;

    -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 767px)
{
    body
    {
        font-size: 12px;
        font-size: 1.2rem;
    }
}

body.is-fixed
{
    position: fixed;

    width: 100%;
    height: 100%;
}

a
{
    -webkit-transition: all .2s;
    transition: all .2s; 
    text-decoration: none;

    color: #000;
}

a:hover
{
    opacity: .8;
}

p
{
    line-height: 1.8;
}

/* フルードイメージにします。 */
img
{
    max-width: 100%;
    height: auto;

    vertical-align: middle;
}

/* svgのIEバグ回避 */
img[src$='.svg']
{
    width: 100%;
    height: auto;
}

code,
pre
{
    font-family: Consolas, Menlo, Courier, monospace;
}

/* Container
   ----------------------------------------------------------------- */
.l-container
{
    overflow: hidden;
}

@media screen and (min-width: 768px)
{
    .l-main__inner
    {
        position: relative; 

        max-width: 1009px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 767px)
{
    .l-main__inner
    {
        position: relative; 

        padding-right: 21px;
        padding-left: 21px;
    }
}

/* Component
   ----------------------------------------------------------------- */
/* btn
-------------------------------------------------------------------------- */
.c-btn
{
    font-size: 17px;
    font-size: 1.7rem;
    font-weight: 700;

    position: relative;

    display: block;

    width: 265px;
    padding: 16px 0 12px 40px;

    cursor: pointer;
    -webkit-transition: ease .2s;
    transition: ease .2s; 
    text-align: center;
    letter-spacing: .0em;

    color: #fff;
    border-radius: 8px;
    background: #47b125;
    -webkit-box-shadow: 0 4px 0 #ffff54;
            box-shadow: 0 4px 0 #ffff54;
}

@media screen and (max-width: 767px)
{
    .c-btn
    {
        font-size: 16px;
        font-size: 1.6rem;

        width: 247px;
        padding: 14px 0 13px 34px;

        -webkit-box-shadow: 0 3px 0 #ffff54;

                box-shadow: 0 3px 0 #ffff54;
    }
}

.c-btn::before
{
    position: absolute;
    top: 14px;
    left: 20px;

    width: 31px;
    height: 32px; 

    content: '';

    background: transparent url(./../image/line-icon.svg) no-repeat top center/cover;
}

@media screen and (max-width: 767px)
{
    .c-btn::before
    {
        top: 14px;
        left: 22px;

        width: 28px;
        height: 28px;
    }
}

.c-drawer
{
    display: none;
    /* チェックボックスは非表示に */
    /* ハンバーガーアイコンの設置スペース */
    /* ハンバーガーメニューのアイコン */
    /* 三本線のうち一番上の棒の位置調整 */
    /* 三本線のうち一番下の棒の位置調整 */
    /* アイコンがクリックされたら真ん中の線を透明にする */
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    /* メニューのデザイン*/
    /* メニューを閉じるための要素のデザイン*/
}

@media screen and (max-width: 767px)
{
    .c-drawer
    {
        position: fixed;
        z-index: 100; 
        top: 25px;
        right: 22px;

        display: block;
    }
}

.c-drawer__hidden
{
    display: none;
}

.c-drawer__open
{
    position: relative;
    z-index: 103;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    width: 43px;
    height: 30px;
    margin: auto 0 auto auto;
    /* 重なり順を一番下に */

    cursor: pointer; 

    background-color: transparent;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media screen and (max-width: 767px)
{
    .c-drawer__open
    {
        width: 32px;
    }
}

.c-drawer__open span,
.c-drawer__open span::before,
.c-drawer__open span::after
{
    position: absolute; 

    display: block;

    width: 30px;
    height: 3px;

    content: '';
    -webkit-transition: .5s;
    transition: .5s;

    background: #000;
}

.c-drawer__open span::before
{
    bottom: 11px;
}

.c-drawer__open span::after
{
    top: 11px;
}

.c-drawer #drawer-check:checked ~ .c-drawer__open span
{
    background: rgba(0, 0, 0, 0);
}

.c-drawer #drawer-check:checked ~ .c-drawer__open span::before
{
    bottom: 0;

    -webkit-transform: rotate(45deg);

            transform: rotate(45deg);
}

.c-drawer #drawer-check:checked ~ .c-drawer__open span::after
{
    top: 0;

    -webkit-transform: rotate(-45deg);

            transform: rotate(-45deg);
}

.c-drawer #drawer-check:checked ~ .c-drawer__content
{
    left: 0;
}

.c-drawer__content
{
    /* ここの割合を小さくすると閉じる部分の領域が広がる */
    position: fixed;
    z-index: 102;
    top: 0;
    left: 100%;

    overflow-y: scroll; 

    width: 100%;
    height: 100%;
    height: 100%;
    padding: 70px 0;

    -webkit-transition: all .5s;

    transition: all .5s;
    /* 重なり順を一番上に */

    background: #fff;
}

@media screen and (max-width: 767px)
{
    .c-drawer__content
    {
        padding: 80px 0;
    }
}

.c-drawer__close
{
    position: fixed;
    /* 閉じるための要素を画面外へ */
    z-index: 101;
    top: 0;
    left: 100%;

    width: 100%;
    height: 100%;
    /* 重なり順をメニューより下に*/

    -webkit-transition: .5s;

    transition: .5s; 

    background: transparent;
}

.c-drawer #drawer-check:checked ~ .c-drawer__close
{
    left: 0;
    /* 閉じるための要素を画面内へ */
}

.c-drawer__lists
{
    margin-bottom: 36px;
}

.c-drawer__list
{
    font-size: 20px;
    font-size: 2rem;

    display: block;

    padding: 10px 15px;

    color: #333;
    border-bottom: 1px solid #0e5ffe;
}

.c-drawer__btn
{
    display: block; 

    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.c-heading
{
    text-align: center;
}

.c-heading__primary
{
    font-size: 38px;
    font-size: 3.8rem;
    font-weight: 400; 

    position: relative;

    display: inline-block;

    color: #0d0d0d;
}

@media screen and (max-width: 767px)
{
    .c-heading__primary
    {
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: 700;
    }
}

.c-heading__primary::before
{
    position: absolute;
    bottom: 3px;
    left: 0;

    width: 100%;
    height: 5px; 

    content: '';
}

@media screen and (max-width: 767px)
{
    .c-heading__primary::before
    {
        height: 2px;
    }
}

.c-margin__top-bottom
{
    margin-top: 100px;
    margin-bottom: 100px;
}

.c-padding__top-bottom
{
    padding-top: 74px;
    padding-bottom: 100px;
}

@media screen and (max-width: 767px)
{
    .c-padding__top-bottom
    {
        padding-top: 52px;
        padding-bottom: 70px;
    }
}

/* utility
   ----------------------------------------------------------------- */
@media screen and (max-width: 1023px)
{
    .u-pc
    {
        display: none !important;
    }
}

@media screen and (min-width: 768px)
{
    .u-sp
    {
        display: none !important;
    }
}

@media screen and (min-width: 1024px)
{
    .u-tb
    {
        display: none !important;
    }
}

@media screen and (max-width: 1023px)
{
    .u-tb_only
    {
        display: none !important;
    }
}

@media screen and (max-width: 767px)
{
    .u-tb_only
    {
        display: block !important;
    }
}

@media screen and (max-width: 767px)
{
    .u-tb_pc
    {
        display: none !important;
    }
}

/* ==========================================================================
   page 下層ページ共通部分
   ========================================================================== */
a[href^='tel:']
{
    text-decoration: none;
}

@media screen and (min-width: 768px)
{
    a[href^='tel:']
    {
        pointer-events: none;
    }
}
