/* ==========================================================================
   toppage
   ========================================================================== */
.l-section
{
    padding: 101px 0 129px;
}

@media screen and (max-width: 1023px)
{
    .l-section
    {
        padding-top: 98px;
    }
}

@media screen and (max-width: 767px)
{
    .l-section
    {
        padding: 16.8vw 0vw 17.2vw 0vw;
    }
}

/* ===============================================
#header
=============================================== */
.header
{
    position: absolute;
    z-index: 2; 
    top: 0;
    left: 0;

    width: 100%;
}

.header__container
{
    padding-top: 22px;
    padding-bottom: 22px;
}

.header__lists
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: end;

        -ms-flex-pack: end;

            justify-content: flex-end;
}

@media screen and (max-width: 767px)
{
    .header__lists
    {
        display: none;
    }
}

.header__link
{
    font-size: 14px;
    font-size: 1.4rem;

    display: block;

    letter-spacing: .14em; 

    color: #fff;
}

.header__link:nth-of-type(n + 2)
{
    margin-left: 47px;
}

/* ===============================================
#mv
=============================================== */
.mv
{
    position: relative;

    height: 49vw;
    padding-top: 124px; 

    background: transparent url(./../image/mv.png) no-repeat top center/cover;
}

@media screen and (min-width: 1600px)
{
    .mv
    {
        height: 730px;

        background: transparent url(./../image/mv.png) no-repeat bottom center/cover;
    }
}

@media screen and (max-width: 1100px)
{
    .mv
    {
        height: 580px;
    }
}

@media screen and (max-width: 767px)
{
    .mv
    {
        height: 595px;
        padding-top: 63px; 

        background: transparent url(./../image/mv-sp.png) no-repeat bottom center/cover;
    }
}

@media screen and (max-width: 767px)
{
    .mv__inner
    {
        padding-right: 4px; 
        padding-left: 4px;
    }
}

.mv__container
{
    position: relative; 

    display: -webkit-box; 

    display: -ms-flexbox; 

    display: flex;
}

@media screen and (max-width: 767px)
{
    .mv__container
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
}

.mv__text-area
{
    width: 60%;
}

@media screen and (max-width: 1023px)
{
    .mv__text-area
    {
        width: 54%;
    }
}

@media screen and (max-width: 767px)
{
    .mv__text-area
    {
        width: 100%;
    }
}

.mv__img-box
{
    position: absolute;
    top: -27px;
    right: -15px;

    width: 51.5%;
}

@media screen and (max-width: 1023px)
{
    .mv__img-box
    {
        width: 46%;
    }
}

@media screen and (max-width: 767px)
{
    .mv__img-box
    {
        position: relative;
        top: 0;
        left: 0;

        width: 319px;
        margin-right: auto; 
        margin-bottom: 24px;
        margin-left: auto;
    }
}

.mv__heading-img
{
    width: 98%; 
    margin-bottom: 5px;
}

@media screen and (max-width: 767px)
{
    .mv__heading-img
    {
        width: 367px;
        margin-right: auto; 
        margin-bottom: 26px;
        margin-left: auto;
    }
}

.mv__text
{
    line-height: 2.1; 

    margin-bottom: 40px;

    color: #fff;
}

@media screen and (max-width: 767px)
{
    .mv__text
    {
        font-weight: 700;
        line-height: 1.45;

        margin-bottom: 27px;

        text-align: center;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 767px)
{
    .mv__btn
    {
        margin-right: auto; 
        margin-left: auto;
    }
}

/* ===============================================
#about
=============================================== */
.about
{
    padding-top: 83px;
    padding-bottom: 90px;
}

@media screen and (max-width: 767px)
{
    .about
    {
        padding-top: 48px;
        padding-bottom: 114px;
    }
}

.about__inner
{
    max-width: 1068px;
}

.about__container
{
    position: relative;

    max-width: 958px;
    margin-right: auto; 
    margin-bottom: 40px;
    margin-left: auto;
    padding: 80px 117px 45px;

    text-align: center;

    border-radius: 15px;
    background: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .05);
            box-shadow: 0 0 30px rgba(0, 0, 0, .05);
}

@media screen and (max-width: 1023px)
{
    .about__container
    {
        padding: 80px 100px 45px;
    }
}

@media screen and (max-width: 767px)
{
    .about__container
    {
        margin-bottom: 35px; 
        padding: 32px 35px 38px;
    }
}

.about__heading
{
    font-size: 38px;
    font-size: 3.8rem;
    font-weight: normal;

    position: relative; 

    display: inline-block;

    margin-bottom: 43px;

    letter-spacing: .0em;
}

@media screen and (max-width: 767px)
{
    .about__heading
    {
        font-size: 18px;
        font-size: 1.8rem;
        font-weight: 700;

        margin-bottom: 19px;
    }
}

.about__heading::before
{
    position: absolute;
    top: 1px;
    left: -67px;

    width: 51px;
    height: 49px; 

    content: '';

    background: transparent url(./../image/about-object.png) no-repeat top center/cover;
}

@media screen and (max-width: 767px)
{
    .about__heading::before
    {
        display: none;
    }
}

.about__en
{
    font-size: 99px;
    font-size: 9.9rem;
    font-weight: 700;

    position: absolute;
    top: 140px;
    right: -104px;

    -webkit-transform: rotate(-90deg);

            transform: rotate(-90deg); 

    opacity: .9;
    color: #f2f8fb;
}

@media screen and (max-width: 1023px)
{
    .about__en
    {
        font-size: 89px;
        font-size: 8.9rem;
    }
}

@media screen and (max-width: 767px)
{
    .about__en
    {
        font-size: 40px;
        font-size: 4rem;

        top: 6px;
        right: 25px; 

        -webkit-transform: rotate(0deg); 

                transform: rotate(0deg);
    }
}

.about__flex-box
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}

@media screen and (max-width: 767px)
{
    .about__flex-box
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

.about__img-box
{
    width: 34%;
    margin-top: 43px;
    margin-left: 28px;
}

@media screen and (max-width: 767px)
{
    .about__img-box
    {
        width: 63%;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 33px; 
        margin-left: auto;
    }
}

.about__text-area
{
    width: 56.5%;

    text-align: left;
}

@media screen and (max-width: 767px)
{
    .about__text-area
    {
        width: 100%;
    }
}

.about__text
{
    line-height: 1.9;

    letter-spacing: .0em;
}

.about__text:nth-of-type(n + 2)
{
    margin-top: 33px;
}

@media screen and (max-width: 767px)
{
    .about__text
    {
        line-height: 1.45;
    }
    .about__text:nth-of-type(n + 2)
    {
        margin-top: 23px;
    }
}

.about__cards
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;

        -ms-flex-pack: center;

            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

@media screen and (max-width: 767px)
{
    .about__cards
    {
        width: 97.3%;
        margin-right: auto; 
        margin-left: auto;
    }
}

.about__card
{
    width: calc(33.333333% - 29px * 2 / 3);
    padding: 25px 27px; 

    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 21px rgba(0, 0, 0, .08);
            box-shadow: 0 6px 21px rgba(0, 0, 0, .08);
}

.about__card:nth-of-type(n + 2)
{
    margin-left: 29px;
}

@media screen and (max-width: 1023px)
{
    .about__card
    {
        width: calc(50% - 29px * 1 / 2);
    }
    .about__card:nth-of-type(2)
    {
        margin-left: 29px;
    }
    .about__card:nth-of-type(3)
    {
        margin-top: 29px; 
        margin-left: 0;
    }
}

@media screen and (max-width: 767px)
{
    .about__card
    {
        width: 100%;
        padding: 18px 27px 24px;
    }
    .about__card:nth-of-type(n + 2)
    {
        margin-top: 46px; 
        margin-left: 0;
    }
}

.about__card-title
{
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 700;

    margin-bottom: 3px;

    text-align: center;

    color: #0d0d0d;
}

@media screen and (max-width: 767px)
{
    .about__card-title
    {
        font-size: 28px;
        font-size: 2.8rem;
        font-weight: 400;

        margin-bottom: 0; 

        letter-spacing: .06em;
    }
}

.about__number-img
{
    margin-right: auto;
    margin-bottom: 39px; 
    margin-left: auto;
}

@media screen and (max-width: 767px)
{
    .about__number-img
    {
        margin-bottom: 42px;
    }
}

.about__number-img--01
{
    width: 92px;
}

.about__number-img--02
{
    width: 178px;
}

.about__card-lead
{
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;

    height: 50px;
    margin-bottom: 26px;

    text-align: center;

    color: #0d0d0d;
}

@media screen and (max-width: 767px)
{
    .about__card-lead
    {
        line-height: 1.3;

        margin-bottom: 25px;
    }
}

.about__card-text
{
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.75; 

    text-align: center;
    letter-spacing: 0;

    color: #0d0d0d;
}

@media screen and (max-width: 767px)
{
    .about__card-text
    {
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 2;
    }
}

/* ===============================================
#feature
=============================================== */
.feature
{
    position: relative; 

    margin-top: 160px;
    padding-bottom: 172px;

    background-color: #f2f8fb;
}

@media screen and (max-width: 767px)
{
    .feature
    {
        margin-top: 150px;
        padding-bottom: 123px;
    }
}

.feature__top-bg
{
    position: absolute;
    bottom: 100%;
    left: 0; 

    width: 100%;
    height: 160px;

    background: transparent url(./../image/feature-top-bg.png) no-repeat top center/cover;
}

@media screen and (max-width: 767px)
{
    .feature__top-bg
    {
        height: 150px; 

        background: transparent url(./../image/feature-top-bg-sp.png) no-repeat top center/cover;
    }
}

.feature__inner
{
    position: relative;

    max-width: 920px;
}

@media screen and (max-width: 767px)
{
    .feature__inner
    {
        padding-right: 0;
        padding-left: 0;
    }
}

.feature__object--01
{
    position: absolute;
    top: -94px;
    left: -372px; 

    width: 460px;
}

@media screen and (max-width: 1023px)
{
    .feature__object--01
    {
        top: -144px;
        left: -272px;
    }
}

@media screen and (max-width: 767px)
{
    .feature__object--01
    {
        top: -185px;
        left: -128px;

        width: 264px;
    }
}

.feature__object--02
{
    position: absolute;
    right: -301px;
    bottom: -485px;

    width: 572px;
}

@media screen and (max-width: 767px)
{
    .feature__object--02
    {
        right: -122px;
        bottom: -304px;

        width: 319px;
    }
}

.feature__object--03
{
    position: absolute;
    top: 0; 
    left: 0;

    width: 197px;
}

@media screen and (max-width: 767px)
{
    .feature__object--03
    {
        display: none;
    }
}

.feature__object--04
{
    position: absolute;
    top: 0; 
    left: 0;

    width: 225px;
}

@media screen and (max-width: 767px)
{
    .feature__object--04
    {
        display: none;
    }
}

.feature__heading
{
    margin-bottom: 95px;
}

@media screen and (max-width: 767px)
{
    .feature__heading
    {
        margin-bottom: 0;
    }
}

.feature__heading::before
{
    background: -webkit-gradient(linear, left top, right top, from(#b84df1), color-stop(102.66%, #77e3ff));
    background: linear-gradient(90deg, #b84df1 0%, #77e3ff 102.66%);
}

.feature__flex-box--head
{
    position: relative; 

    display: -webkit-box; 

    display: -ms-flexbox; 

    display: flex;

    margin-bottom: 137px;
}

@media screen and (max-width: 767px)
{
    .feature__flex-box--head
    {
        margin-bottom: 61px; 

        -ms-flex-wrap: wrap-reverse; 

            flex-wrap: wrap-reverse;
    }
}

.feature__flex-box--head .feature__text-area
{
    position: relative;
    z-index: 2; 

    width: 69%;
}

@media screen and (max-width: 1023px)
{
    .feature__flex-box--head .feature__text-area
    {
        width: 58%;
    }
}

@media screen and (max-width: 767px)
{
    .feature__flex-box--head .feature__text-area
    {
        width: 81.2%;
        margin-top: -10px; 
        margin-right: auto;
        margin-left: auto;
    }
}

.feature__flex-box--head .feature__img-box
{
    position: absolute;
    z-index: 1; 
    right: -148px;
    bottom: -24px;

    width: 65.7%;
}

@media screen and (max-width: 1023px)
{
    .feature__flex-box--head .feature__img-box
    {
        right: -27px;
    }
}

@media screen and (max-width: 767px)
{
    .feature__flex-box--head .feature__img-box
    {
        position: relative;
        right: -8px;
        bottom: -4px;

        width: 100%;
        width: 95%;
    }
}

.feature__flex-box--bottom
{
    position: relative; 

    display: -webkit-box; 

    display: -ms-flexbox; 

    display: flex;

    -webkit-box-pack: end;

        -ms-flex-pack: end;

            justify-content: flex-end;
}

@media screen and (max-width: 767px)
{
    .feature__flex-box--bottom
    {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

.feature__flex-box--bottom .feature__text-area
{
    position: relative;

    width: 44%;
}

@media screen and (max-width: 1023px)
{
    .feature__flex-box--bottom .feature__text-area
    {
        width: 51%;
    }
}

@media screen and (max-width: 767px)
{
    .feature__flex-box--bottom .feature__text-area
    {
        width: 81.2%;
        margin-right: auto; 
        margin-left: auto;
    }
}

.feature__flex-box--bottom .feature__img-box
{
    position: absolute;
    bottom: -59px;
    left: -144px;

    width: 73%;
}

@media screen and (max-width: 767px)
{
    .feature__flex-box--bottom .feature__img-box
    {
        position: relative;
        bottom: 0;
        left: 0;

        width: 100%;
        width: 100%;
        margin-bottom: 13px;
    }
}

.feature__title
{
    font-size: 35px;
    font-size: 3.5rem;
    line-height: 1.3;

    margin-bottom: 82px;

    letter-spacing: 0; 

    color: #0d0d0d;
}

@media screen and (max-width: 767px)
{
    .feature__title
    {
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.4;

        margin-bottom: 18px; 

        text-align: center;
    }
}

.feature__text
{
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1.2; 

    letter-spacing: .01em;
}

@media screen and (max-width: 767px)
{
    .feature__text
    {
        font-size: 12px;
        font-size: 1.2rem;
        line-height: 1.9;
    }
}

/* ===============================================
#voice
=============================================== */
.voice
{
    padding-top: 77px;
    padding-bottom: 54px;

    background: transparent url(./../image/voice-bg.jpg) no-repeat top center/cover;
}

@media screen and (max-width: 767px)
{
    .voice
    {
        padding-top: 48px;
        padding-bottom: 69px;
    }
}

.voice__heading
{
    margin-bottom: 61px;

    color: #fff;
}

@media screen and (max-width: 767px)
{
    .voice__heading
    {
        margin-bottom: 90px;
    }
}

.voice__heading::before
{
    background: -webkit-gradient(linear, left top, right top, from(#b84df1), color-stop(102.66%, #20b1d5));
    background: linear-gradient(90deg, #b84df1 0%, #20b1d5 102.66%);
}

@media screen and (max-width: 767px)
{
    .voice__container
    {
        width: 70.3%;
        margin-right: auto; 
        margin-left: auto;
    }
}

.voice__wrapper
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    border-radius: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .05);
            box-shadow: 0 0 30px rgba(0, 0, 0, .05);

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}

@media screen and (max-width: 767px)
{
    .voice__wrapper
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        -webkit-box-pack: center;

            -ms-flex-pack: center;

                justify-content: center;
    }
}

.voice__wrapper:nth-of-type(odd)
{
    width: 62.2%;
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(odd)
    {
        width: 100%;
    }
}

.voice__wrapper:nth-of-type(even)
{
    width: 49.2%;
    margin-left: auto;
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(even)
    {
        width: 100%;
    }
}

.voice__wrapper:nth-of-type(n + 2)
{
    margin-top: 19px;
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(n + 2)
    {
        margin-top: 48px;
    }
}

.voice__wrapper:nth-of-type(1)
{
    padding: 26px 18px 34px 39px;
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(1)
    {
        padding: 0 20px 21px 20px;
    }
}

.voice__wrapper:nth-of-type(1) .voice__img-box
{
    width: 65px;
    margin-right: 23px;
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(1) .voice__img-box
    {
        width: 51px;
        margin-top: -33px; 
        margin-right: 0;
    }
}

.voice__wrapper:nth-of-type(1) .voice__text
{
    width: calc(100% - 126px);
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(1) .voice__text
    {
        width: 100%;
    }
}

.voice__wrapper:nth-of-type(2)
{
    padding: 6px 18px 15px 36px;
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(2)
    {
        padding: 0 20px 21px 20px;
    }
}

.voice__wrapper:nth-of-type(2) .voice__img-box
{
    width: 53px;
    margin-right: 14px;
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(2) .voice__img-box
    {
        width: 51px;
        margin-top: -33px; 
        margin-right: 0;
    }
}

.voice__wrapper:nth-of-type(2) .voice__text
{
    width: calc(100% - 108px);
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(2) .voice__text
    {
        width: 100%;
    }
}

.voice__wrapper:nth-of-type(3)
{
    padding: 25px 20px 31px 39px;
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(3)
    {
        padding: 0 20px 21px 20px;
    }
}

.voice__wrapper:nth-of-type(3) .voice__img-box
{
    width: 65px;
    margin-right: 20px;
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(3) .voice__img-box
    {
        width: 51px;
        margin-top: -33px; 
        margin-right: 0;
    }
}

.voice__wrapper:nth-of-type(3) .voice__text
{
    width: calc(100% - 123px);
}

@media screen and (max-width: 767px)
{
    .voice__wrapper:nth-of-type(3) .voice__text
    {
        width: 100%;
    }
}

@media screen and (max-width: 767px)
{
    .voice__img-box
    {
        margin-bottom: 17px;
    }
}

.voice__text-img-box
{
    margin-right: 20px;
}

@media screen and (max-width: 767px)
{
    .voice__text-img-box
    {
        width: 13px;
        margin-right: 0;
        margin-bottom: 17px;
    }
}

.voice__text
{
    line-height: 1.5;

    margin-top: 4px; 

    letter-spacing: 0;
}

@media screen and (max-width: 767px)
{
    .voice__text
    {
        line-height: 1.6;

        margin-top: 0;

        text-align: center;
    }
}

/* ===============================================
#price
=============================================== */
.price
{
    padding-top: 115px;
    padding-bottom: 80px;
}

@media screen and (max-width: 767px)
{
    .price
    {
        padding-top: 53px;
        padding-bottom: 107px;
    }
}

.price__inner
{
    position: relative;

    max-width: 795px;
}

@media screen and (max-width: 767px)
{
    .price__inner
    {
        padding-right: 35px; 
        padding-left: 35px;
    }
}

.price__object
{
    position: absolute;
    bottom: -46px;
    left: 38px;

    width: 223px;
    height: 196px;

    background: transparent url(./../image/price-object.png) no-repeat top center/cover;
}

@media screen and (max-width: 767px)
{
    .price__object
    {
        display: none;
    }
}

.price__heading
{
    margin-bottom: 54px;
}

@media screen and (max-width: 767px)
{
    .price__heading
    {
        margin-bottom: 33px;
    }
}

.price__heading::before
{
    background: -webkit-gradient(linear, left top, right top, from(#b84df1), color-stop(102.66%, #1f5efd));
    background: linear-gradient(90deg, #b84df1 0%, #1f5efd 102.66%);
}

.price__container
{
    margin-bottom: 8px;
    padding: 15px 0 18px; 

    text-align: center;

    border-radius: 15px;
    background: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .05);
            box-shadow: 0 0 30px rgba(0, 0, 0, .05);
}

.price__head-text
{
    font-size: 22px;
    font-size: 2.2rem;

    color: #0d0d0d;
}

@media screen and (max-width: 767px)
{
    .price__head-text
    {
        font-size: 14px;
        font-size: 1.4rem;

        margin-bottom: 7px;
    }
}

.price__color
{
    color: #753bf6;
}

.price__foot-text
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    color: #0d0d0d; 

    -webkit-box-align: end; 

        -ms-flex-align: end; 

            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.price__price-box
{
    font-size: 22px;
    font-size: 2.2rem;
    line-height: 1; 

    display: -webkit-box; 

    display: -ms-flexbox; 

    display: flex;

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}

@media screen and (max-width: 767px)
{
    .price__price-box
    {
        font-size: 20px;
        font-size: 2rem;
    }
}

.price__big
{
    font-size: 62px;
    font-size: 6.2rem;
    line-height: 1;
}

@media screen and (max-width: 767px)
{
    .price__big
    {
        font-size: 34px;
        font-size: 3.4rem;
    }
}

.price__note
{
    font-size: 8px;
    font-size: 0.8rem;
    line-height: 1.8;

    width: 335px;
    margin-bottom: 59px; 
    margin-left: auto;

    text-indent: -1.5em;

    color: #0d0d0d;
}

@media screen and (max-width: 767px)
{
    .price__note
    {
        font-size: 8px;
        font-size: 0.8rem;

        width: 240px;
        margin-bottom: 43px;
    }
}

.price__text
{
    font-size: 22px;
    font-size: 2.2rem;
}

@media screen and (max-width: 767px)
{
    .price__text
    {
        font-size: 14px;
        font-size: 1.4rem;
    }
}

.price__btn
{
    margin-right: auto; 
    margin-left: auto;
}

/* ===============================================
#qa
=============================================== */
.qa
{
    position: relative;

    margin-top: 92px;
    padding-top: 46px;
    padding-bottom: 173px;

    background-color: #f2f8fb;
}

@media screen and (max-width: 767px)
{
    .qa
    {
        margin-top: 65px;
        padding-top: 7px;
        padding-bottom: 99px;
    }
}

.qa__object
{
    display: none;
}

@media screen and (max-width: 767px)
{
    .qa__object
    {
        position: absolute;
        top: -96px;
        right: -44px;

        display: block;
        display: block;

        width: 180px;
        height: 158px;

        background: transparent url(./../image/price-object.png) no-repeat top center/cover;
    }
}

.qa__top-bg
{
    position: absolute;
    bottom: 100%;
    left: 0; 

    width: 100%;
    height: 92px;

    background: transparent url(./../image/qa-top-bg.png) no-repeat top center/cover;
}

@media screen and (max-width: 767px)
{
    .qa__top-bg
    {
        height: 65px; 

        background: transparent url(./../image/qa-top-bg-sp.png) no-repeat top center/cover;
    }
}

.qa__heading
{
    margin-bottom: 86px;
}

@media screen and (max-width: 767px)
{
    .qa__heading
    {
        font-weight: 400;

        margin-bottom: 79px;
    }
}

.qa__heading::before
{
    height: 3px;

    background: -webkit-gradient(linear, left top, right top, from(#b84df1), color-stop(102.66%, #20b1d5));

    background: linear-gradient(90deg, #b84df1 0%, #20b1d5 102.66%);
}

@media screen and (max-width: 767px)
{
    .qa__heading::before
    {
        bottom: 1px;

        height: 2px;
    }
}

@media screen and (max-width: 767px)
{
    .qa__container
    {
        width: 91.4%;
        margin-right: auto; 
        margin-left: auto;
    }
}

.qa__dl
{
    letter-spacing: 0; 

    border-radius: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .05);
            box-shadow: 0 0 30px rgba(0, 0, 0, .05);
}

.qa__dl:nth-of-type(n + 2)
{
    margin-top: 35px;
}

@media screen and (max-width: 767px)
{
    .qa__dl
    {
        border-radius: 6px;
    }
    .qa__dl:nth-of-type(n + 2)
    {
        margin-top: 17px;
    }
}

.qa__dt
{
    font-size: 22px;
    font-size: 2.2rem;
    font-weight: 700;

    position: relative;

    padding: 13px 73px 13px 98px;

    cursor: pointer;
}

@media screen and (max-width: 767px)
{
    .qa__dt
    {
        font-size: 12px;
        font-size: 1.2rem;

        padding: 13px 30px 13px 67px;
    }
}

.qa__question
{
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 400; 

    position: absolute;
    top: 11px;
    left: 61px;
}

@media screen and (max-width: 767px)
{
    .qa__question
    {
        font-size: 12px;
        font-size: 1.2rem;

        top: 13px;
        left: 46px;
    }
}

.qa__dd
{
    line-height: 1.8;

    display: none; 

    padding: 2px 73px 27px 98px;

    letter-spacing: 0;
}

@media screen and (max-width: 767px)
{
    .qa__dd
    {
        line-height: 1.4; 

        padding: 2px 10px 13px 10px;
    }
}

/* ===============================================
#comparison_table
=============================================== */
.comparison_table
{
    position: relative;

    margin-top: 92px;
    padding-top: 46px;
    padding-bottom: 173px;

    background-color: white;
}

/* ===============================================
#lowreason
=============================================== */
.lowreason
{
    position: relative;

    margin-top: 92px;
    padding-top: 46px;
    padding-bottom: 173px;

    background-color: white;
}

/* ===============================================
#footer
=============================================== */
.footer
{
    padding-top: 49px;
    padding-bottom: 45px; 

    background: transparent url(./../image/footer-bg.jpg) no-repeat top center/cover;
}

@media screen and (max-width: 767px)
{
    .footer
    {
        padding-top: 58px;
        padding-bottom: 70px; 

        background: transparent url(./../image/footer-bg.jpg) no-repeat top left 13%/cover;
    }
}

.footer__lead
{
    font-size: 35px;
    font-size: 3.5rem;

    margin-bottom: 20px;

    letter-spacing: 0; 

    color: #fff;
}

@media screen and (max-width: 767px)
{
    .footer__lead
    {
        font-size: 18px;
        font-size: 1.8rem;

        margin-bottom: 33px;
    }
}

.footer__border
{
    position: relative;
}

.footer__border::before
{
    position: absolute;
    bottom: -4px;
    left: 0;

    width: 100%;
    height: 5px;

    content: '';

    background: -webkit-gradient(linear, left top, right top, from(rgba(184, 77, 241, .8)), color-stop(102.66%, rgba(32, 177, 213, .8)));

    background: linear-gradient(90deg, rgba(184, 77, 241, .8) 0%, rgba(32, 177, 213, .8) 102.66%);
}

.footer__note
{
    margin-top: 53px;

    letter-spacing: .02em; 

    color: #fff;
}

@media screen and (max-width: 767px)
{
    .footer__note
    {
        font-size: 10px;
        font-size: 1rem;

        margin-top: 30px;
    }
}
